.contact_section h2 {
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  padding: 2rem;
}

.main_info {
  flex-direction: column;
  gap: 2rem; 
  font-size: 1.7rem;
}

.link_info {
  flex-direction: row;
  gap: 7%;
}

.info a {
  display: flex;
  text-decoration: none;
  gap: .5rem;
}

.link_info a {
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
}

.link_info a > span {
  font-size: 1.7rem;
  margin: auto;
}

