.global_header {
  margin-bottom: 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  /* max-width: var(--maxWidth-section); */
}

.global_header > h1 {
  font-family: "Caveat";
  font-size: 31px;
  margin: auto 0px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 0px;
}

.global_header nav li {
  margin: 0;
  display: flex;
}

.global_header nav a {
  align-self: center;
  color: var(--color-text);
  font-size: 1.3125rem;
  text-decoration: none;
}

.global_header nav li:last-of-type > a {
  color: white;
}
