.hero_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero_container > div:first-child {
  display: flex;
  justify-content: start;
  min-width: 60%;
}

.hero_container > div:first-child > div:first-child {
  max-width: 20px;
  margin-inline: 1rem 2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 30px);
}

.hero_container > div:first-child > div:first-child,
.hero_container > div:first-child > div:nth-child(2) {
  margin-top: 15%;
}

.hero_container > div:first-child > div:nth-child(2) {
  max-width: 46rem;
}

.hero_container > div:first-child span {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-accent-light);
}

.hero_container h2 {
  font-size: 3.8rem;
  margin-top: 0;
  font-weight: 900;
}



.imgs_container {
  position: relative;
}

/* .front_img_container {
  width: 80%;
} */

/* .front_img {
  width: 90% !important;
} */


.back_img_container {
  position: absolute;
  top: 1.8rem;
  left: 2.5rem;
  z-index: -1;
  width: 105%;
}

.back_img {
  opacity: .2 !important;
}
