.skills_section_container h3 {
  text-align: center;
}


.skills_list {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.skills_list > li {
  min-width: 12rem;
  padding: .5rem 1rem;
  margin-inline: 1.5rem;
  border: 1px solid black;
  align-items: center;
  text-align: center;
}


/* these styles only apply on screens above 750px aka Tablet*/
@media all and (min-width: 750px){

}


/* These styles ONLY apply on screens above 1200px aka Desktop*/
@media all and (min-width: 1200px ){
  .skills_list {
    justify-content: start;
  }
}