.portfolio_section_container h2{
  text-align: center;
}

.portfolio_section_container > div h3{
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio_items_wrapper {
  overflow-x: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap;
  background-color: blue;
  width: 120vw;
  margin-left: -5vw;
}

.portfolio_item {
  display: inline-block;
  background-color: black;
  padding: 1rem;
  color: white;
  width: 40vw;
  height: 65vh;
}